.App{
  position: relative;
  font-family: 'Lato', 'Nunito';
  min-height: 100vh;  
  background: black;
}

.banner{		
	position: relative;
	color: white;
	height: 90vh;	
	background-size: cover;
	background-position: center bottom;
}
.banner .bottom-arrow{
  position: absolute;
  left: calc( 50% - 25px);
  bottom: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.banner .bottom-arrow:hover{
  transform: translateY(5px);
}
.banner .tagline{	
	position: absolute;
	text-align: center;
	width: 100%;	
	top: 35%;
	vertical-align: middle;
	padding: 0 20px;
    box-sizing: border-box;
}
@media screen and (max-width:480px){
  .banner{
    margin-bottom: 20px;
  }
	.banner .tagline{
		top: 0%;
  }
  .banner .bottom-arrow{
    display: none;
  }
}
@media screen and (max-width:320px){
  .banner .tagline{
    top: -30px;
  }
}
.banner .tagline h1{		
	font-size: 48px;	
}
.banner .tagline h2{		
	font-size: 36px;	
}
.banner .tagline tag{		
	font-size: 36px;	
}

.content{
  position: relative;
  padding: 10px 18%;
  min-height: 40vh;
}

.content p{
  line-height: 1.7em;
  text-align: justify;
}
@media screen and (max-width:450px){
  .content{
    padding: 10px 10%;
  }

  .content p{
    line-height: 1.4em;
    text-align: left;
    word-wrap: break-word;
  }
}

a.credit{
  background-color:black;
  color:white;
  text-decoration:none;
  padding:4px 6px;
  font-family:-apple-system, BlinkMacSystemFont,"San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px;
}
a.credit span:not(.name){
  display:inline-block;
  padding:2px 3px;
}
a.credit span svg{
  height:12px;
  width:auto;
  position:relative;
  vertical-align:middle;
  top:-1px;
  fill:white;
}
a.credit span.name{
  display:inline-block;
  padding:2px 3px;
}

footer{
  position: relative;
  margin-top: 30px;
  padding: 30px 18%;      
  text-align: right;
  color: white;
  font-size: 14px;
}
@media screen and (max-width:450px){
  footer{
    padding: 30px 10%;
  }
}
footer span{
  flex: 1;
  margin-left: 20px;
}
footer a{
  color: white;
}
footer span img{
  display: inline;
  margin-right: 10px;
  vertical-align: middle;
}
footer span p{
  display: inline;
  vertical-align: middle;
}

a{
  color: white;
}

#credits{
  text-align: center;
  color: white;
  position: relative;
  padding: 30px 20px;
}